$primary: #335eea;
$secondary: #869ab8;
$success: #42ba96;
$dark: #161c2d;
$cyan: #3f5d87;
// $gray: #f1f4f8;
$font-size-base: 1.07rem;
$line-height-base: 1.6;
$line-height-lg: 1.75;
$font-weight-normal: 400;
$font-weight-bold: 500;

$border-radius: 0.4rem;
$border-radius-lg: 0.5rem;

$input-padding-y: 0;
$input-padding-x: 0;
$input-border-radius: 0;
$input-focus-border-color: $primary;
$input-focus-box-shadow: none;

$form-check-input-bg: #d9e2ef;
$form-check-input-border: none;

$form-check-input-checked-color: #fff;
$form-check-input-checked-bg-color: $primary;

$form-check-input-focus-border: none;
$form-check-input-focus-box-shadow: none;

$form-check-input-active-filter: none;

@font-face {
  font-family: "hk-grotesk";
  src: url("/fonts/hk-grotesk/HKGrotesk-Regular.otf");
}

@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/bootstrap-icons/font/bootstrap-icons.css";

:root {
  --my-blue-accent: #506690;
  --my-nav-hover: #335eea;

  --secondary: #869ab8;

  /* price badge */
  --my-primary-accent: rgba(51, 94, 234, 0.1);

  --border-light: #f1f4f8;

  /* bg check list icon */
  --success-light: rgba(66, 186, 150, 0.1);

  /* shadow */
  --shadow-lg: 0 1.5rem 4rem rgba(22, 28, 45, 0.05);
  --shadow-xl: 0 1.5rem 4rem rgba(22, 28, 45, 0.1);

  /* carousel icon */
  --rare-pink: #ff5a5f;

  /* bg */
  --dark-blue: #1b2a4e;

  /* badge get started */
  --blue-light: rgba(80, 102, 144, 0.1);
}

body {
  font-family: "hk-grotesk";
}

.padding-y-lg {
  padding: 6rem 0;
}

.padding-t-lg {
  padding-top: 6rem;
}

.padding-b-lg {
  padding-bottom: 6rem;
}

.padding-t-xl {
  padding-top: 7.5rem;
}

.padding-t-status {
  padding-top: 12rem;
}

.cta-padding {
  padding: 6rem 0 7rem;
}

.my-mb-6 {
  margin-bottom: 3.8rem;
}

.my-md-7 {
  margin-bottom: 4.5rem;
}

.mb-4-5 {
  margin-bottom: 2.5rem;
}

.mb-4-3 {
  margin-bottom: 2.3rem;
}

.mb-4-2 {
  margin-bottom: 1.8rem;
}

.padding-hero {
  padding-top: 6rem;
}

.margin-b-lg {
  margin-bottom: 7rem;
}

.fs-sm {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.fs-md {
  font-size: 1.2rem;
}

.fs-lg {
  font-size: 1.3rem;
}

/* btn */

.btn {
  border: transparent;
}

.btnStarted,
.docBtn,
.btnBuy {
  transition: all 0.3s ease;
}

.docBtn {
  background: var(--my-primary-accent);
}

.btnStarted:hover,
.docBtn:hover,
.btnBuy:hover {
  transform: translateY(-8%);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
}

.docBtn:hover {
  background-color: rgba(51, 94, 234, 0.15);
}

/* nav */
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: var(--my-blue-accent);
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--my-nav-hover);
}

/* hero */
.control-hero-desc h1 {
  max-width: 500px;
}

.control-hero-desc p {
  max-width: 500px;
  font-size: 1.3rem;
}

.hero-img-control {
  max-width: 130%;
}

/* about */

.padding-about-lg {
  padding: 6rem 0;
}

.icon svg {
  width: 3rem;
  height: 3rem;
}

/* feature */
.featureSec {
  border-top: 0.08px solid var(--border-light);
  border-bottom: 0.08px solid var(--border-light);
}

.featureIcon2,
.featureIcon4,
.featureIcon6 {
  margin-left: auto;
}

.featureIcon {
  width: 80%;
}

/* cta */
.cta {
  background-image: linear-gradient(180deg, #f9fbfd 0, #fff);
  overflow: hidden;
}

.card {
  border: none;
}

.ctaCard {
  transition: all 0.3s ease-in-out;
  box-shadow: var(--shadow-lg);
}

.ctaCard:hover {
  transform: translateY(-7px);
  box-shadow: 0 2rem 5rem rgba(22, 28, 45, 0.1),
    0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.05);
}

.ctaCard .card-body {
  padding: 2rem;
}

.cta-form input {
  border: none;
  border-bottom: 0.08px solid var(--border-light);
}

.cta-form label {
  opacity: 1 !important;
}

.ctaBtn {
  margin-top: 2.3rem;
  transition: all 0.3s ease-in-out;
}

.ctaBtn:hover {
  transform: translateY(-4px);
  box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1),
    0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1);
}

.cta-text-control p {
  max-width: 480px;
}

.ctaText {
  line-height: 1.5;
}

.icon-bg-success {
  background: var(--success-light);
  font-size: 1rem;
}

/* exp */
.dashkitWrapper {
  perspective-origin: 0;
  perspective: 1500px;
}

.dashkit {
  max-width: 120%;
  transform: rotateY(-35deg) rotateX(15deg);
  box-shadow: 25px 60px 125px -25px rgb(80 102 144 / 10%),
    16px 40px 75px -40px rgb(0 0 0 / 20%);
  border-radius: 1.1rem;
}

/* testimonials */
.testimonial-text-control {
  max-width: 650px;
}

/* carousel */

.carouselContainer {
  box-shadow: var(--shadow-lg);
  position: relative;
}

.ig-carousel {
  width: 150px;
}

.airbnb-carousel {
  width: 150px;
  color: var(--rare-pink);
}

.carousel-text-control {
  max-width: 420px;
}

.img1,
.img2 {
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

/* indicator */

.carLeft,
.carRight {
  position: absolute;
  z-index: 3000;
  top: 50%;
  transition: all 0.3s;
}

.carLeft {
  left: 0;
  transform: translate(-50%, -50%);
}

.carRight {
  right: 0;
  transform: translate(50%, -50%);
}

.carLeft:active,
.carRight:active {
  opacity: 0.7;
}

/* shape */
.shape-accent {
  color: var(--border-light);
  position: absolute;
  right: 0;
  left: 0;
  transform: scale(3);
  overflow: hidden;
}

.p-10 {
  padding: 8rem;
  transform: translateY(-280px);
  z-index: -10;
}

/* status */
.status {
  background: var(--border-light);
  color: var(--my-blue-accent) !important;
  margin-top: -19rem;
}

.status-text-control {
  max-width: 500px;
}

/* price */
.price {
  background: var(--border-light);
  color: var(--my-blue-accent) !important;
}

/* switch */
.form-check-input {
  height: 1.4rem;
  width: 2.5rem !important;
  background-image: url("/images/switcher.svg") !important;
}

.price-pill {
  background: var(--my-primary-accent);
}

.btn-standard,
.btn-enterprise {
  border-radius: 0;
}

.btn-enterprise {
  background: var(--border-light);
}

.card1-over2 {
  z-index: 1001;
  box-shadow: var(--shadow-xl);
}

.card2-enter1 {
  transform: translateX(-10%);
  z-index: 1000;
  box-shadow: var(--shadow-xl);
}

/* faq */
.faq {
  background: var(--dark-blue);
}

.fqa-text-control {
  max-width: 450px;
}

/* cta small */
.ctasmall {
  background: var(--dark-blue);
  margin-top: -1px;
}

.started-pill {
  background: var(--blue-light);
  color: var(--my-blue-accent);
}

.cta-small-text-control {
  max-width: 700px;
}

/* footer */
.footer {
  background-color: var(--border-light);
  color: var(--my-blue-accent);
}

.footer-header {
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.footer-nav-link:link,
.footer-nav-link:visited,
.footer-nav-link:link svg path,
.footer-nav-link:visited svg path {
  fill: var(--secondary);
  color: var(--secondary);
  transition: all 0.3s;
  text-decoration: none;
}

.footer-nav-link:hover,
.footer-nav-link:active,
.footer-nav-link:hover svg path,
.footer-nav-link:active svg path {
  fill: var(--my-nav-hover);
  color: var(--my-nav-hover);
}

/* mobile nav */

.humburger-top,
.humburger-middle,
.humburger-bottom {
  position: absolute;
  top: -9px;
  left: -10px;
  width: 25px;
  height: 2px;
  background-color: var(--my-blue-accent);
  transform: rotate(0);
  transition: all 0.5s;
}

.humburger-middle {
  transform: translateY(7px);
}

.humburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .humburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .humburger-middle {
  display: none;
}

.open .humburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.btn-mobile {
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}

.mobile-nav {
  top: 5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 3000;
}

.nav-open .mobile-nav {
  transform: translate(-50%, 0);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.mobile-nav-end-borderBot {
  border-bottom: 1px solid var(--border-light);
}
.mobile-nav-end-borderY {
  border-top: 1px solid var(--border-light);
  border-bottom: 1px solid var(--border-light);
}

@media (max-width: 1700px) {
  .hero-img-control {
    max-width: 120%;
  }
}

@media (max-width: 992px) {
  /* paddings */
  .padding-about-lg {
    padding: 4rem 0;
  }

  .control-hero-desc p {
    max-width: 600px;
    font-size: 1.3rem;
    margin: 0 auto;
  }

  .hero-img-control {
    max-width: 80%;
  }

  .dashkit {
    max-width: 180%;
  }

  .illu2 {
    width: 70%;
  }

  .status-text-control {
    max-width: 100%;
  }

  .fqa-text-control {
    max-width: 100%;
  }

  .img1,
  .img2 {
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 90%;
  }
  .margin-b-lg {
    margin-bottom: 4rem;
  }
  .dashkit {
    max-width: 100%;
  }

  .card2-enter1 {
    transform: translateX(0);
  }
}

@media (max-width: 540px) {
  .padding-y-lg {
    padding: 3rem 0;
  }

  .padding-t-lg {
    padding-top: 3rem;
  }

  .padding-about-lg {
    padding: 2rem 0;
  }

  .price {
    padding-top: 4.5rem;
    padding-bottom: 3rem;
  }

  .cta-padding {
    padding: 3rem 0 7rem;
  }

  .margin-b-lg {
    margin-bottom: 3rem;
  }

  .my-mb-6 {
    margin-bottom: 2.5rem;
  }

  .status {
    margin-top: -20rem;
  }
}
